body {
    background-image: url("/public/images/background2.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

.landing-container {
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    margin: 2rem auto;
    overflow: hidden;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #577D86;
    border-radius: 5px;
    cursor: pointer;
}

.slides {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slide img {
    width: 85px;
    height: auto;
    margin: 5px;
}

.slide h3 {
    margin: 0;
    padding: 0.2rem;
    text-align: center;
}

.slide:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #577D86;
}

.zoom img {
    transform: scale(1.2);
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.info h1 {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.info p {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #577D86;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #184a50;
}

#first {
    font-size: 40px;
}

#second {
    font-size: 34px;
}